<div class="container" data-controller="product">
  <div class="row justify-content-center vh-100 align-items-center">
    <div class="col-12 col-lg-6">
      <div class="d-flex justify-content-center">
        <h4>Shopping Cart</h4>
      </div>
        <div class="product-container">
          <% @cart_products.each do |product| %>
          <% prod = Product.find(product.product_id) %>
          <div class="product-card">
            <div class="product-image">
              <%= image_tag prod.photo_path %>
            </div>
            <div class="product-details">
              <p>Qty: <%= product.quantity %></p>
              <p><%= prod.name %></p>
            </div>
            <div class="product-total">
              <p>Subtotal = <%= product.total %>€</p>
            </div>
            <% @total << product.total %>
            <div>
            <%#= link_to edit_cart_product_path(product.id) do %>
            <div class="blue-btn my-2" data-action="click->product#addQuantity">
              <p>Edit quantity</p>
            </div>
            <%# end %>
            <div class="d-none">
              <%= simple_form_for [product] do |f| %>
              <%= f.hidden_field :id, value: prod.id %>
              <div class="product-input">
                <%= f.text_field :quantity %>
              </div>
              <%#= f.submit %>
              <% end %>
            </div>
            <%= link_to destroy_path(product.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <div class="orange-btn my-2">
                  <p>delete</p>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
        </div>
      <div class="d-flex justify-content-center">
        <h4>TOTAL: <%= @total.sum  %>€</h4>
      </div>
      <div class="d-flex justify-content-between">
        <div class="orange-btn p-2">
        <%= link_to "Delete All",
        destroy_all_path,
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
        </div>
        <div class="green-btn p-2">
        <%= link_to "Continue shopping", root_path %>
        </div>
      </div>
    </div>
  </div>
</div>
